<ion-content
  class="ion-padding"
  style="display: flex; flex-direction: column; gap: 16px"
>
  <div class="ion-padding">
    <div [formGroup]="form">
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Username"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="username"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="person-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="password"
        label="Password"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="password"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true" />
        <ion-input-password-toggle slot="end" />
      </ion-input>

      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 1"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input1"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 2"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input2"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 3"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input3"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 4"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input4"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 5"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input5"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 6"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input6"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 7"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input7"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 8"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input8"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 9"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input9"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
      <ion-input
        mode="md"
        color="ref-app-alternative"
        type="text"
        label="Input 10"
        label-placement="floating"
        fill="outline"
        placeholder="Example placeholder"
        formControlName="input10"
        role="textbox"
        aria-label="Enter"
        class="ion-margin-bottom"
      >
        <ion-icon slot="start" name="add-circle-outline" aria-hidden="true" />
      </ion-input>
    </div>
  </div>
</ion-content>
